@import "../../index";
@import "../components/contactbutton";
@import "../components/font";

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    section {
        .home-image {
            img{
                height: 500px;
                width: 100%;
            }
        }
    }

    article {
        margin: 20px 0px;
        text-align: justify;
        width: 500px;

    }
}

@media screen and (min-width: $small) {
    main {
    .content {
        text-align: justify;
        padding-right: 40px;
        padding-left: 40px;
        }
    }
}