@import "../defaults/colors";

.contactbutton {
  background-color: $primary-color;
  border: none;
  color: rgb(2, 2, 2);
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 30%;
  cursor: pointer;
}
    .contactbutton1 {
    background-color: $primary-color;
    color: black; 
    border: 2px solid #04AA6D;
    border-radius: 30%;
    }
    .contactbutton1:hover {
        background-color: #04AA6D;
        color: $primary-color;
    }